<%- include('./includes/headder.ejs')%>
</head>
  <body>
<%- include('./includes/nav.ejs')%>
<% if (products.length > 0) { %>
 <ol>
  <% products.forEach((prod)=>{ %>
  <li class ="products"> <%=prod.title %></li>
  <%})%>
</ol>
<%} else{ %>
        <h1>no products yet</h1>
   <% }%>

   <%include('./includes/footer.ejs')%>
